# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/devtools

npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# Vim temp files
*.swp
.*.swp


# Local Netlify folder
.netlify

# Raw comment JSON files
src/mockData/comments/raw
