

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* React-Bootstrap Navbar Styles  */

/* Navbar toggler */
.navbar-toggler:focus {
  box-shadow: none;
}

/* Form control */
.form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

/* Offcanvas drawer */

#offcanvasNavbar-expand-sm[role="dialog"] {
  max-width: 80vw;
  background-color: rgba(var(--bs-dark-rgb));
}

#offcanvasNavbar-expand-sm[role="dialog"] .offcanvas-header {
  background-color: transparent;
  color: white;
  padding: .9rem;
}

#offcanvasNavbar-expand-sm[role="dialog"] .offcanvas-body {
  background-color: transparent;
  padding: .2rem;
}

#offcanvasNavbar-expand-sm[role="dialog"] .navbar-nav {
  background-color: transparent;
  align-items: center;
}
#offcanvasNavbar-expand-sm[role="dialog"] .accordion-body, 
#offcanvasNavbar-expand-sm[role="dialog"] .accordion-button,
#offcanvasNavbar-expand-sm[role="dialog"] .accordion-item {
  padding: .3rem;
  background-color: transparent;
  color: white;
}

#offcanvasNavbar-expand-sm[role="dialog"] .btn-close {
  filter: var(--bs-btn-close-white-filter);
}

#offcanvasNavbar-expand-sm[role="dialog"] .accordion-button {
  box-shadow: none;
}

#offcanvasNavbar-expand-sm[role="dialog"] .accordion-button.collapsed {
  /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
  /* box-shadow: none; */
  border-bottom: 1px solid transparent;
}

#offcanvasNavbar-expand-sm[role="dialog"] .accordion-button:not(.collapsed) {
  /* color: white; */
  /* background-color: transparent; */
  
  border-bottom: 1px solid var(--bs-gray-dark);
  /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
  /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-gray-dark); */
  /* filter: var(--bs-btn-close-white-filter); */
  
}

#offcanvasNavbar-expand-sm[role="dialog"] .accordion-button::after {
  /* color: green; */
  /* border: 1px solid red; */
  filter: invert(1) grayscale(100%) brightness(70%);
  /* box-shadow: none;  */
  /* filter: var(--bs-btn-close-white-filter); */
}

#offcanvasNavbar-expand-sm[role="dialog"] .accordion-button:focus {
  /* box-shadow: none; */
  /* border-bottom: none; */
}

/* off-canvas avatar spacing */
#offcanvasNavbar-expand-sm[role="dialog"] .nav-link > * {
  margin-right: .2rem; 
}

/* Search form */

/* Search button .nav-link overrides */
form#searchForm a[role="button"] {
  padding: 0.375rem 0.75rem;
  background-color: rgb(108, 117, 125);
}

/* Input group padding */
/* form#searchForm > div {
 
} */

#headerRightCol {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}
/* #offcanvasNavbar-expand-sm[role="dialog"] .nav-link { 
                     background-color: lightgrey;
                  } */


/* @media only screen and (max-width: 480px) {

  div.col-3 {
    display: none;
  }

  div.d-flex.col-3 {
    display: none !important;

  }
} */

/* Post date */
.date {
    /* font-size: 1rem; */
    color: #495057;
    width: auto;
    word-break: normal;
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

/* Main section */
main {
  background-color: whitesmoke;
}

/* Card */
.card {
  margin-bottom: 1rem;
}

/* Button */

button {
  border: none;
  background-color: transparent;
  padding: 0;
}