body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   word-break: break-all;
}

.card-text {
  word-break: break-word;
}

p.card-text > * {
  word-break: break-all;
}

/* non-wrapping preformatted text breaks the layout when sidebar is present */

pre {
  /* display: none; */
  white-space: pre-wrap;
  word-break: break-all;
}

pre code {
  word-break: break-all;
}

/* div.card-text > pre > code {
  border: solid 2px green;
  font-size: 80%;
  word-break: break-all;
} */

/* overflowing Nav.Link items word-break */
.accordion-body .nav-link {
  word-break: break-all;
  font-size: 1.7em;
  margin-bottom: .2rem;
}

.nav-link:active {
  background-color: var(--bs-gray-dark);
}